/* common.css
 *
 * Copyright (C) 2017 Universidad de Sevilla
 * 
 * The use of this project is hereby constrained to the conditions of the 
 * TDG Licence, a copy of which you may download from 
 * http://www.tdg-seville.info/License.html
 * 
 */

.error {
	color: red;
	font-weight: bolder;
}

.message {
	color: red;
	font-weight: bolder;
}
.clasificacion {
	text-align:left;
	direction: rtl;
	unicode-bidi: bidi-override;
	font-size: 20px;
}

.estrellasAmarillas{
	color:orange;
}
.estrellasGrises{
	color:grey;
}
input[type="radio"] {
	display: none;
}

label {
	color: grey;
}

label:hover,label:hover  ~ label {
	color: orange;
}

input[type="radio"]:checked  ~ label {
	color: orange;
}